# ── OCR-service dependencies ──
fastapi
uvicorn[standard]
pytesseract
Pillow
python-multipart
loguru
slowapi
redis
opencv-python
numpy
PyMuPDF

# for TestClient support
requests
httpx

# for testing
pytest
pytest-asyncio

# for ML tracking and monitoring
mlflow==2.18.0
prometheus-client==0.19.0
prometheus-fastapi-instrumentator==6.1.0
