# ── OCR-service dependencies ──
fastapi
uvicorn[standard]
pytesseract
Pillow
python-multipart
loguru
slowapi
redis
opencv-python
numpy
PyMuPDF

# for TestClient support
requests
httpx

# for testing
pytest
pytest-asyncio
